<h2>{{firstname}}'s Income and Expenses</h2> 
<ul>
    {{#each transactions}}
    <li>{{transactionid}} {{userid}} {{type}} {{transactions.amount}} {{transactions.description}} {{transactions.date}}</li>
    {{/each}}
</ul>